@charset "UTF-8";

:root {
    --cor1: #59025c;
    --cor2: #d80769;
    --cor3: #2AE01D;
    --cor4: #CEE01D;
    --cor5: #1DE097;
    --cor6: #63E059;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template: 2fr 1fr 700px 1fr / 1fr 3fr 1fr;
    background-image: linear-gradient(150deg, black, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    background-attachment: fixed;
}

header {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    background-color: var(--cor5);
    border: 2px solid var(--cor6);
    transition: background-color .5s ease-in-out;
}

header > h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    flex: auto;
    color: rgba(20, 19, 19, 0.904);
    margin: 10px;
}

header > div {
    margin: 10px;
}

main#calculadora {
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    grid-template: 3fr repeat(5, 1fr) / repeat(4, 1fr);
    place-items: center center;
    background: rgba(20, 19, 19, 0.9);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border: 3px solid var(--cor5);
    transition: background-color 1s;
}

div#visor {
    grid-area: 1 / 1 / 2 / -1;
    border-radius: 20px;
    border: 3px solid var(--cor4);
    padding: px;
    width: 90%;
    height: 120px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
    background-color: white;
    overflow: auto;
}

div#visor > p {
    margin-top: 30px;
    text-align: right;
    font-size: 2em;
}

div#visor > p > strong {
    color: red;
}

.botao {
    background-color: rgba(235, 225, 225, 0.9);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.botao > p {
    padding: 13px;
    transition: color 2s;
}

.verde {
    background-color: var(--cor5);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}